@model IEnumerable<CumulativeP1_n01691175.Models.Teacher>
@{
    ViewBag.Title = "List";
}

<h1>List of Teachers</h1>



<nav class="navbar">
    <div class="searchBar">
        <form action="/Teacher/List" method="GET">
            <input type="text" name="SearchKey" autocomplete="off" />
            <input type="submit" value="Search By Name" />
        </form>
    </div>
    <a class="navlink" href="/Teacher/New">New Teacher</a>
    <a class="navlink" href="/Teacher/Ajax_New">New Teacher AJAX</a>
</nav>

<div class="teacherList">
    @foreach (var teacher in Model)
    {
        <div class="listitem row">
            <div class="col-md-12"><a href="/Teacher/Show/@teacher.TeacherId">@teacher.TeacherFname @teacher.TeacherLname</a></div></div>
    }
</div>
